.wrapper {
  max-width: 90rem;
  margin: 2rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 5 columns */
  gap: 2rem;
  align-items: stretch; /* Make all tiles the same height */
}

@media (max-width: 1200px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}
